/* bebug rules */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
    
ul, ol, menu {
    list-style: none;
}

img {
    max-width: 100%;
}
    
a {
    text-decoration: none;
    color: currentColor;
}

/* layout */
/* header */

.header-section {
    background-color: #ff6900;
    padding-top: 15px;
    padding-bottom: 15px;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.col img {
    max-width: 110px;
}

/* main */
main {
    margin-top: 35px;
}

main section {
    padding-bottom: 40px;
}

.col-3 {
    width: calc(97% / 3);
    color: black;
}

span {
    color: red;
    margin-right: 5px;
}
